body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f5f5f5;
        }

       
header {
    background-color: #0b2447;
    color: white;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: space-between;
}

/* Tiêu đề h1 */
h1 {
    margin-bottom: 0;
}
.logo{
    width: 100px;
    height: 100px;
    padding-left: 36px;
}

.admin {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
    margin-bottom: 10px;
    align-items: end;
}
.admin label{
    padding-bottom: 4px;
}
.admin img {
    width: 27px;
    height: 27px;
    margin-top: 3px;
}
        /* Sidebar */
        .sidebar {
            width: 220px;
            background: #FFFFFF;
            height: auto;
            position: fixed;    
            top: 130px;
            left: 0;
            padding-top: 1px;
        }
        .sidebar button {
            width: 100%;
            padding: 15px;
            background: none;
            border: none;
            color: #000000;
            text-align: left;
            font-size: 16px;
            cursor: pointer;
        }
        .sidebar button:hover{
            color: #6177FE;
            background: #EBF0FF;
        }
        .sidebar button:active{
            background: #EBF0FF;
        }
        /* Content */
        .content {
            margin-left: 240px;
            padding: 20px;
        }

        .section {
            display: none;
            background: white;
            padding: 20px;
            border-radius: 6px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }
        table, th, td {
            border: 1px solid #ccc;
        }
        th {
            background: #0b2447;
            color: white;
            padding: 10px;
        }
        td {
            padding: 8px;
        }