
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


header {
    background-color: #0b2447;
    color: white;
    padding: 20px;
    text-align: center;
    height: auto;
}

/* Tiêu đề h1 */
h1 {
    margin-bottom: 0;
}

.admin {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.admin img {
    width: 24px;
    height: 24px;
    margin-top: 8px;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0b2447;
    margin-bottom: 10px;
}

form {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
select,
button {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Nút bấm */
button {
    background-color: #0b2447;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 100px;
}

button:hover {
    background-color: #064273;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0b2447;
    color: white;
}
.green th{
    background-color: #D3BE36;
}
