/* Footer */
.footer {
    background-color: #01579B;
    color: #ffffff;
    padding: 50px 0 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* xuống dòng khi hẹp */
    width: 85%;
    margin: auto;
    gap: 30px;
}

.footer-column {
    flex: 1 1 250px;/*Mỗi cột có thể co dãn lịnh hoạt, kich thước tối thiểu 250*/
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 2px solid #3A7CD5;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column a {
    color: #ffffff;
    text-decoration: none;
}

.footer-column a:hover {
    color: #3a7bd5;
    text-decoration: underline;
}

.footer-logo {
    width: 150px;
    margin-bottom: 10px;
}
.social-icons {
    margin-top: 11px;
}
.social-icons img {
    width: 28px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #3a7bd5;
    padding-top: 10px;
    font-size: 14px;
    color: #cccccc;
}
