body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.header{
    background-color: white;
    padding: 15px 0;
    position: sticky;
    top: 0;
    height: 60px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    z-index: 100;

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.header-logo img{
    height: 60px;
    width: auto;
}
.header-nav{
    flex: 1;
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sub-menu{
    margin: 0 20px;
}
.sub-menu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #696969;
    transition: color 0.3s ease;
}
.sub-menu a:hover{
    color: black;
}
.header-buy{
    background-color: #e50000;
    color: #fff;
    border: none;
    border-radius: 45px;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px;
}
.header-buy:hover{
    background-color: #f44336;
}

.page2{
    height: 1500px;
}





