body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/*css for header*/
.header{
    background-color: white;
    padding: 15px 0;
    position: sticky;
    top: 0;
    height: 60px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    z-index: 100;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.header-logo img{
    height: 60px;
    width: auto;
}
.header-nav{
    flex: 1;
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sub-menu{
    margin: 0 20px;
}
.sub-menu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #696969;
    transition: color 0.3s ease;
}
.sub-menu a:hover{
    color: black;
}
.header-buy{
    background-color: #e50000;
    color: #fff;
    border: none;
    border-radius: 45px;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px;
}
.header-buy:hover{
    background-color: #f44336;
}

.page2{
    height: 1500px;
}

/*css for home*/
.home {
    background-image: url('../image/backgroundHome.png');
    background-size: cover;
    background-position: center;
    height: 873px;
    color: black;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.container-home  {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.home-title {
    text-align: center;
    transform: translateY(-20px);
}

.home-title h3{
    font-size: 50px;
    font-weight: normal;
}

.home-title h1{
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    font-weight: bold;
    font-size: 120px;
    color: #040402;
    -webkit-text-stroke: 2px #9eefc9;
    transform: translateY(-80px);
}

.home-title p{
    transform: translateY(-150px);
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.home-introduce{
    transform: translateY(-15px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 2px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.6);
    text-align: justify;
    line-height: 1.7;
}

.home-introduce p{
    font-size: 20px;
    color: #2a2e47;
    margin-bottom: 20px;
}
.home-introduce p strong{
    color: #b30909;
}

/*css for home-sub*/
.home-sub{
    background-color: #f8f9fa;
    padding: 60px 0;
}

.container-home-sub{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 0 20px;
}

.criteria-box{
    background-color: #ace8db;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.criteria-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.criteria-box h2{
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    position: relative;
    color: black;
}

.criteria-box p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.criteria-box ul{
    list-style-type: disc;
    padding-left: 30px;
}

.criteria-box ul li{
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1.5;
}






