:root {
    --color-primary: #312e81; /* Xanh tím đậm (Header thẻ) */
    --color-button: #e53935; /* Đỏ sáng (Nút, Checkmark) */
    --color-text-dark: #1C0761;
    --color-text-light: #555;
    --color-background: #f8f8f8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    line-height: 1.9;
}
body{
    justify-content: center;
}
.container{
    justify-content: center;
    background-attachment: fixed;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: var(--color-background);
}
.Noidung-Chung{
    max-width: 700px;
    color: #e53935;
    justify-content: center;
    margin: 0 auto 0 auto;
    text-align: center;

}
.Noidung-Chung h1{
    color: var(--color-text-dark);
   font-size: 20px;
   padding-top: 30px;
}
.Noidung-Chung p{
    color: var(--color-text-light);
}
.GoiBaoHiem{
    position: relative;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.GoiBaoHiem-Loai{
    position: relative;
    width: 300px;
    height: 520px;
    background-color: var(--color-background);
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.GoiBaoHiem-Loai .Ten-LoaiBaoHiem{
    position: relative;
    height: 38%;
    width: 100%;
    background-color: #000; 
    clip-path: circle(180px at center 0px);
    text-align: center;
    padding: 0px;
}
.GoiBaoHiem-Loai .Ten-LoaiBaoHiem h2{
    color: rgba(226, 226, 226);
    font-size: 25px;
    padding: 30px 0;
}
.GoiBaoHiem-Loai .Ten-LoaiBaoHiem .Noidung-Goi{
    position: absolute;
    bottom: 40px;
    padding: 20px;
    text-align: center;
    padding-top: 0%;
    justify-content: center;  
}
.NoiDung-Goi {
    padding: 0 28px;
    list-style: none;
}
.GoiBaoHiem-Loai .Ten-LoaiBaoHiem .Noidung-Goi li{
    color: var(--color-text-light);
    text-align: center;
    margin-bottom: 10px; 

    
}
.GoiBaoHiem-Loai .ChucNang-Goi{
    position: absolute;
    bottom: 8%;;
    justify-content: center;
    text-align: center;
    padding-left: 38px;

}
.GoiBaoHiem-Loai .ChucNang-Goi .btn-buy{
    position: relative;
    padding: 9px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--color-background);
}
.GoiBaoHiem .GoiBaoHiem-Loai:nth-child(1) .Ten-LoaiBaoHiem,
.GoiBaoHiem .GoiBaoHiem-Loai:nth-child(1) .ChucNang-Goi a{
    background: #D09705;
}
.GoiBaoHiem .GoiBaoHiem-Loai:nth-child(2) .Ten-LoaiBaoHiem,
.GoiBaoHiem .GoiBaoHiem-Loai:nth-child(2) .ChucNang-Goi a{
    background: #1b1464;
}
.GoiBaoHiem .GoiBaoHiem-Loai:nth-child(3) .Ten-LoaiBaoHiem,
.GoiBaoHiem .GoiBaoHiem-Loai:nth-child(3) .ChucNang-Goi a{
    background: #ed4c67;
}


